#luckydrawButton {
    width: 100%;
    background-color: #464646;
    border-color: #464646;
    font-weight: 700;
    color: #3ca727;
}

#headerContent {
    width: 100%;
    background-color: #464646;
}

#headerContent img {
    margin: 0 auto;
    display: block;
    padding-top: 5px;
    padding-bottom: 5px;
}

.container {
    background-color: #edece4;
}

.subtext {
    font-size: small;
    color: #FFF;
}

.footer {
    padding-top: 0.8em;
    color: #FFFFFF;
    width: 100%;
}

h2, p{
    text-align: center;
    font-family: 'Bitter', serif;
}

small {
    font-family: 'Lobster Two', cursive;
    font-size: 5em;
}